@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Sistema de Gestão de Clientes!</h1>
    <p>Este sistema foi desenvolvido como parte da disciplina "Interação Humano Computador" sob a orientação do professor Fabio Eduardo Florencio. O projeto tem como objetivo fornecer uma solução eficiente para o gerenciamento de clientes, funcionários, produtos, itens de venda e vendas.</p>

    <h3>Sobre o Sistema</h3>
    <p>Este projeto é um CRUD completo, utilizando ASP.NET MVC e Entity Framework. A seguir, são descritos os principais módulos do sistema:</p>

    <ul>
        <li><strong>Cadastro de Clientes:</strong> Permite gerenciar as informações de clientes, como nome, e-mail, telefone e endereço, além de permitir editar ou excluir registros.</li>
        <li><strong>Cadastro de Funcionários:</strong> Facilita o gerenciamento de funcionários, incluindo informações sobre cargos, salários e status de trabalho.</li>
        <li><strong>Cadastro de Produtos:</strong> Permite registrar e atualizar produtos, com dados como preço, quantidade disponível e descrição.</li>
        <li><strong>Itens da Venda:</strong> Registra os produtos associados a uma venda, possibilitando o controle detalhado de cada transação.</li>
        <li><strong>Vendas:</strong> Gerencia o processo de vendas, desde o registro até a conclusão da transação, integrando todos os dados necessários (cliente, produto, item de venda).</li>
    </ul>

    <h3>Heurísticas de Desenvolvimento</h3>
    <p>O projeto foi desenvolvido com base nas heurísticas de usabilidade e interação humano-computador, com o objetivo de oferecer uma interface intuitiva e eficiente. Algumas das heurísticas seguidas são:</p>
    <ul>
        <li><strong>Visibilidade do Status do Sistema:</strong> Feedback constante é fornecido ao usuário, como mensagens de sucesso ou erro durante o cadastro e edição de dados.</li>
        <li><strong>Consistência e Padrões:</strong> A interface segue padrões consistentes, garantindo que o usuário reconheça e entenda rapidamente os elementos de navegação e interação.</li>
        <li><strong>Controle e Liberdade do Usuário:</strong> O sistema permite desfazer ou corrigir ações facilmente, oferecendo mais controle ao usuário.</li>
        <li><strong>Prevenção de Erros:</strong> Validações são realizadas para evitar a inserção de dados inválidos ou incompletos, prevenindo erros.</li>
    </ul>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Feito por João Vitor Aparecido Carpim de Souza
        </div>
    </footer>
</div>
